<%- include("partials/header") %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="mb-3 form-group">
            <label class="form-label" for="titleInput">Title</label>
            <input class="form-control" type="text" name="titleInput">
            <label class="form-label" for="postInput">Post</label>
            <textarea class="form-control" name="postInput"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="composeButton">Publish</button>
    </form>
<%- include("partials/footer") %> 